<!-- Sign in or sign up -->
<div class="col-md" id="signin">
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">Login Form</div>
      <div class="title signup">Signup Form</div>
    </div>
    <div class="form-container">
      <div class="slide-controls">
        <input type="radio" name="slide" id="login" checked />
        <input type="radio" name="slide" id="signup" />
        <label for="login" class="slide login">Login</label>
        <label for="signup" class="slide signup">Signup</label>
        <div class="slider-tab"></div>
      </div>
      <div class="form-inner">
        <form action="#" class="login">
          {{! login email }}
          <div class="field">
            <input
              id="login-email"
              type="text"
              placeholder="Email Address"
              required
            />
          </div>
          {{! login password }}
          <div class="field">
            <input
              id="login-password"
              type="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="field button">
            <div class="button-layer"></div>
            <input type="submit" value="Login" id="login-btn" />
          </div>
          <div class="signup-link">
            No account?
            <br />
            <a>Signup now</a>
            or
            <a href="">continue as guest</a>
          </div>
        </form>

        <form action="#" class="signup">
          {{! signup fname }}
          <div class="field">
            <input
              id="signup-fname"
              type="text"
              placeholder="First Name"
              required
            />
          </div>
          {{! signup lname }}
          <div class="field">
            <input
              id="signup-lname"
              type="text"
              placeholder="Last Name"
              required
            />
          </div>
          {{! signup email }}
          <div class="field">
            <input
              id="signup-email"
              type="text"
              placeholder="Email Address"
              required
            />
          </div>
          {{! signup phone }}
          <div class="field">
            <input
              id="signup-phone"
              type="tel"
              placeholder="Phone Number"
              required
            />
          </div>
          {{! signup password }}
          <div class="field">
            <input
              id="signup-password"
              type="password"
              placeholder="Password"
              required
            />
          </div>
          {{! signup confirm password }}
          <div class="field">
            <input
              id="signup-confirmPassword"
              type="password"
              placeholder="Confirm password"
              required
            />
          </div>
          <div class="field button">
            <div class="button-layer"></div>
            <input type="submit" value="Signup" id="signup-btn" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="js/login.js"></script>
<!-- Sign in or sign up -->