<!-- QR Code -->
<div class="col-md" id="qrCode">
  <!-- NEED TO PUT IN DATA -->
  <img
    src="https://api.qrserver.com/v1/create-qr-code/?data=<DATA_GOES_HERE>&amp;size=100x100"
    alt="resturant QR code"
  />
</div>
<!-- QR Code -->