<!-- QR Code -->
<div class="col-md" id="qrCode">
  <div>
    <div class="title-text">
      <div class="title">See Menu</div>
    </div>

    <div id="qrCodeContainer">
      <!-- NEED TO PUT IN DATA -->
      <img
        src="https://api.qrserver.com/v1/create-qr-code/?data=https://bens-diner.herokuapp.com/api/menu/6&amp;size=100x100"
        alt="resturant QR code"
      />
    </div>
  </div>
</div>
<!-- QR Code -->