:root {
  --red: #b32c06;
  --off-white: #fffaef;
  --bone: #dad6ca;
}

body {
  font-size: 16px;
}

/* Header */
.bg_img {
  height: 350px;
  background-color: var(--red);
}

.header_text {
  color: var(--off-white);
  font-weight: 700;
  text-transform: uppercase;
}

header h1 {
  font-size: 7vw;
  letter-spacing: -10;
}

header h4 {
  font-size: 5vw;
  letter-spacing: -6;
}

header img {
  height: 120%;
  transform: rotate(10deg);
}
/* Header */

/* Main Content */

#qrCode,
#signin {
  border-right: solid 1px var(--bone);
}

#qrCode {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrCode img {
  height: 50%;
}

/* Main Content */
