<div class="container-fluid h-100">
  <div class="h-100 d-flex flex-column">
    <div class="row">
      <header class="">
        <!-- Jumbotron -->
        <div class="row bg_img">
          <div class="col-md-8 col-xs-12">
            <div class="header_text p-2">
              <h1 class="mb-3">Ben's Diner</h1>
              <h4 class="mb-3">Food for the foodie</h4>
            </div>
          </div>
          <div class="col-md-4 col-xs-12" id="header_img_container">
            <div class="header_img">
              <img src="/assets/burger_img.jpg" alt="image of a burger" />
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </header>
    </div>

    <div class="row pt-5 pb-5 flex-grow-1">
      <main>
        <div class="row h-100" id="mainContent">

          {{>qrcode}}
          {{>login}}
          {{>order-check}}

        </div>
      </main>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>