<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ben's Diner</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../../public/css/style.css" />
</head>

<body>
  <main>
    <div class="row m-0 p-0">
      <section class="col-sm-9 p-0">
        <!-- nav bar -->
        <nav class="navbar bg_img justify-content-between">
          <h1 class="px-2 header_text">Ben's Diner</h1>
          <div class="header_text">
            <p class="username d-inline px-2">Courtney</p>
            <a class="nav_text d-inline px-2" type="submit">Logout</a>
          </div>
        </nav>
        <!-- nav bar -->

        <!-- menu -->
        <!-- menu nav -->
        <div>
          <nav class="d-flex justify-content-center">
            <ul class="menu_nav navbar-nav d-flex flex-row mt-3 mt-lg-0">
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Mini Bites
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  A-Sides
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Burgers
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Desserts
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Soft Drinks
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Ben's Booze
                </a>
              </li>
              <li class="nav-item text-center mx-2 mx-lg-1">
                <a class="nav-link active" aria-current="page" href="#!">
                  Ben's Brews
                </a>
              </li>
            </ul>
          </nav>
          <!-- menu nav -->

          <!-- menu items -->
          <div class="row" id="menuContainer">
            <div class="col-sm-6 my-2 p-0">
              <div class="container d-flex justify-content-center">
                <div class="card" style="width: 500px">
                  <div class="row no-gutters">
                    <div class="col-sm-5">
                      <img class="card-img placeholder" src="" alt="menu item photo" />
                    </div>
                    <div class="col-sm-7">
                      <div class="card-body">
                        <h5 class="card-title menu-name">Menu Item Name3</h5>
                        <p class="card-text">Cost</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 my-2 p-0">
              <div class="container d-flex justify-content-center">
                <div class="card" style="width: 500px">
                  <div class="row no-gutters">
                    <div class="col-sm-5">
                      <img class="card-img placeholder" src="" alt="menu item photo" />
                    </div>
                    <div class="col-sm-7">
                      <div class="card-body">
                        <h5 class="card-title menu-name">Menu Item Name4</h5>
                        <p class="card-text">Cost</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 my-2 p-0">
              <div class="container d-flex justify-content-center">
                <div class="card" style="width: 500px">
                  <div class="row no-gutters">
                    <div class="col-sm-5">
                      <img class="card-img placeholder" src="" alt="menu item photo" />
                    </div>
                    <div class="col-sm-7">
                      <div class="card-body">
                        <h5 class="card-title menu-name">Menu Item Name5</h5>
                        <p class="card-text">Cost</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 my-2 p-0">
              <div class="container d-flex justify-content-center">
                <div class="card" style="width: 500px">
                  <div class="row no-gutters">
                    <div class="col-sm-5">
                      <img class="card-img placeholder" src="" alt="menu item photo" />
                    </div>
                    <div class="col-sm-7">
                      <div class="card-body">
                        <h5 class="card-title menu-name">Menu Item Name6</h5>
                        <p class="card-text">Cost</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- menu -->
        </div>
      </section>

      <!-- cart -->
      <aside class="col-sm-3 p-0" id="cart">
        <div class="py-5">
          <div id="cart-header">
            <h4 class="d-flex justify-content-center">Cart</h4>
          </div>

          <div id="cart-items">
            <ul id="cart-list">
              <li>
                <div class="d-flex justify-content-between">
                  <p class="d-inline">Item Name</p>
                  <p class="d-inline">$$$</p>
                  <button class="deleteBlog no-button">
                    <i class="avoid-clicks fa fa-trash" style="font-size: 24px"></i>
                  </button>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <p class="d-inline">Item Name</p>
                  <p class="d-inline">$$$</p>
                  <button class="deleteBlog no-button">
                    <i class="avoid-clicks fa fa-trash" style="font-size: 24px"></i>
                  </button>
                </div>
              </li>
              <li>
                <div class="d-flex justify-content-between">
                  <p class="d-inline">Item Name</p>
                  <p class="d-inline">$$$</p>
                  <button class="deleteBlog no-button">
                    <i class="avoid-clicks fa fa-trash" style="font-size: 24px"></i>
                  </button>
                </div>
              </li>
            </ul>

            <div class="d-flex justify-content-between">
              <h5 class="d-inline">Total:</h5>
              <p class="d-inline" id="total-price">$$$</p>
            </div>
          </div>
        </div>

        <div class="field button">
          <div class="button-layer"></div>
          <button><a href="/">Submit Order</a></button>
        </div>
      </aside>
      <!-- cart -->
    </div>
  </main>
  <script src='../../../public/js/main.js'></script>
</body>

</html>